body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}

p {
  margin-bottom: 0px;
}

.banner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 750px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  width: 100vw;
  height: 75px;
  padding-right: 75px;
  padding-left: 75px;
  background-color: #fff;
}

.nav-menu {
  height: 100%;
}

.nav-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: 100%;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Hack, sans-serif;
  color: #6ed47c;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.2px;
}

.logo-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: 100%;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.panel {
  width: 50%;
  height: 750px;
}

.panel.text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 75px 50px 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.panel.text.left {
  padding-right: 25px;
  padding-left: 75px;
}

.panel.image {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 25px;
  padding-left: 75px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.panel.image.right {
  padding-right: 75px;
  padding-left: 25px;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.heading {
  width: 450px;
  margin-bottom: 10px;
  font-family: Graphik, sans-serif;
  color: #111;
  font-size: 36px;
  line-height: 48px;
  font-weight: 600;
  letter-spacing: 0.4px;
}

.para {
  width: 425px;
  margin-bottom: 20px;
  font-family: Graphik, sans-serif;
  color: #222;
  font-size: 15px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 0.2px;
}

.para.center {
  width: 600px;
  text-align: center;
}

.photo-canvas {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 500px;
  height: 700px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 2px;
  box-shadow: 0 0 20px 0 #cacaca;
}

.photo-canvas.second {
  background-image: url('../images/daniel-korpai-8GDCzWrcE3M-unsplash-1.jpg');
  background-position: 0% 50%;
}

.photo-canvas.new {
  display: none;
}

.hero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.services {
  background-color: #f6f8ff;
}

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 180px;
  padding-right: 75px;
  padding-left: 75px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.header.testimonials {
  width: 100%;
}

.block-title {
  font-family: 'Mafra Display', sans-serif;
  color: #111;
  font-size: 48px;
  line-height: 60px;
  font-weight: 700;
  letter-spacing: 0.3px;
}

.stack-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 700px;
  padding-right: 75px;
  padding-bottom: 50px;
  padding-left: 75px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.sub-title {
  margin-left: 0px;
  padding-left: 75px;
  font-family: Graphik, sans-serif;
  color: #fff;
  font-size: 24px;
  line-height: 36px;
  font-weight: 500;
  letter-spacing: 0.3px;
}

.sub-title.no-underline {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  border: 1px none #000;
  color: #000;
  text-decoration: none;
}

.sub-title.no-underline.news {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: 0.2px;
}

.sub-title.no-underline.email {
  margin-bottom: 100px;
  font-family: Hack, sans-serif;
  color: #ff743c;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: 0.2px;
}

.sub-title.no-underline.price {
  margin-right: 25px;
  font-size: 30px;
}

.sub-title.mini-text {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  border: 1px none #000;
  color: #303030;
  font-size: 14px;
  line-height: 28px;
  font-weight: 500;
  letter-spacing: 0.2px;
  text-decoration: none;
}

.sub-title.mini-text.news {
  margin-top: 0px;
  margin-bottom: 20px;
}

.sub-title.mini-text.email {
  font-family: Hack, sans-serif;
  color: #ff743c;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: 0.2px;
}

.sub-title.mini-text.price {
  margin-right: 25px;
  font-size: 30px;
}

.features-wrap {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 500px;
  margin-top: 25px;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-areas: "Area-1 Area-2 Area-3" "Area-4 Area-5 .";
  -ms-grid-columns: minmax(33.33%, 33.33%) 0px minmax(33.33%, 33.33%) 0px minmax(33.33%, 33.33%);
  grid-template-columns: minmax(33.33%, 33.33%) minmax(33.33%, 33.33%) minmax(33.33%, 33.33%);
  -ms-grid-rows: minmax(50%, 50%) 0px minmax(50%, 50%);
  grid-template-rows: minmax(50%, 50%) minmax(50%, 50%);
}

.feature-title {
  font-family: Graphik, sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.feature-title.legal {
  color: #252525;
  font-weight: 400;
  text-decoration: none;
}

.feature-card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 15px 10px 0px;
  padding-right: 10px;
  padding-left: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-radius: 7px;
  background-color: #fff;
  box-shadow: 0 0 20px -5px #dadada;
}

.feature-para {
  margin-top: 10px;
  font-family: Graphik, sans-serif;
  color: #555;
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  letter-spacing: 0.2px;
}

.stacks {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.pricing {
  width: 100vw;
  padding-bottom: 100px;
}

.pricing-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 900px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.pricing-table {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 450px;
  height: 875px;
  margin-right: 25px;
  margin-left: 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 7px;
  background-color: #fff;
  box-shadow: 0 0 20px 0 rgba(208, 211, 255, 0.74);
}

.plan-title-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 120px;
  padding-right: 50px;
  padding-left: 50px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.plan-title-wrap.most-popular {
  background-image: url('../images/most-popular.png');
  background-position: 10% 25%;
  background-size: 200px;
  background-repeat: no-repeat;
}

.plan-features-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 25px;
  padding-right: 25px;
  padding-left: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.feature-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.check-icon {
  margin-right: 20px;
}

.feature-text {
  font-family: Graphik, sans-serif;
  line-height: 24px;
  letter-spacing: 0.3px;
}

.feature-text.bold {
  color: #ff743c;
  font-weight: 500;
}

.price-quote-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  padding-top: 12px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.price-quote {
  margin-top: 16px;
  border-bottom: 20px solid rgba(255, 199, 0, 0.5);
  font-family: Graphik, sans-serif;
  color: #3a008c;
  font-size: 32px;
  line-height: 0px;
  font-weight: 500;
}

.purchase-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 60px;
  padding-top: 8px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  border-radius: 2px;
  background-color: rgba(30, 30, 30, 0.9);
  font-family: Graphik, sans-serif;
  font-size: 15px;
  font-weight: 500;
}

.testimonials {
  width: 100vw;
  padding: 50px;
}

.testimonials-bg {
  width: 100%;
  height: 100%;
  border-radius: 2px;
  background-color: #ffd74b;
}

.slider {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 300px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: hsla(0, 0%, 86.7%, 0);
}

.mask {
  width: 100%;
  height: 100%;
}

.slide {
  width: 100%;
  height: 100%;
}

.slider-nav {
  display: none;
  width: 50px;
  height: 50px;
  margin-left: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.07);
  background-image: url('../images/arro-left.svg');
  background-position: 50% 50%;
  background-size: 25px;
  background-repeat: no-repeat;
}

.slider-nav.right {
  margin-right: 10px;
  margin-left: 0px;
  background-image: url('../images/arrow-right.svg');
}

.comment-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.slider-icons {
  font-size: 7px;
}

.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  padding: 50px 75px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-image: url('../images/rhone-design.svg');
  background-position: 100% 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

.footer-logo {
  margin-bottom: 20px;
}

.newsletter-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 600px;
  margin-top: 50px;
  margin-bottom: 100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.newsletter-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.newsletter-input {
  width: 325px;
  height: 50px;
  margin-right: 15px;
  margin-bottom: 0px;
  padding-left: 15px;
  border-style: none none solid;
  border-width: 1px;
  border-color: #000;
  font-family: Graphik, sans-serif;
  font-weight: 300;
  letter-spacing: 0.7px;
}

.subscribe-button {
  width: 150px;
  height: 50px;
  padding-top: 10px;
  border-radius: 2px;
  background-color: #3a008c;
  font-family: Graphik, sans-serif;
  font-weight: 500;
  letter-spacing: 0.3px;
}

.notes-text {
  font-family: Graphik, sans-serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.3px;
}

.footer-links {
  margin-bottom: 15px;
  font-family: Hack, sans-serif;
  color: #0000c2;
  font-weight: 400;
  text-decoration: none;
}

.footer-links.refund-gap {
  margin-bottom: 100px;
}

.copyright-notice {
  font-family: Hack, sans-serif;
  color: #5c5c5c;
  letter-spacing: 0.3px;
}

.upper-half-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 75%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.lower-half-ffoter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.percentage-text {
  width: 450px;
  margin-bottom: 10px;
  font-family: Graphik, sans-serif;
  color: #ff743c;
  font-size: 120px;
  line-height: 120px;
  font-weight: 700;
  letter-spacing: 0.2px;
}

.divider {
  width: 90%;
  height: 1.5px;
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: #ddd;
}

.divider.long {
  width: 97%;
}

.sub-title-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 450px;
  height: 100px;
  margin-left: -75px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/highlight-green.svg');
  background-position: 15px 50%;
  background-size: auto;
  background-repeat: no-repeat;
}

.feature-icon-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 40px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.feature-icon-wrap.legal {
  margin-bottom: 10px;
}

.feature-icon-wrap.legal.refund-policy {
  margin-bottom: 100px;
}

.blue-arrow {
  margin-left: 5px;
}

.feature-icon {
  margin-right: 15px;
}

.first-photo {
  width: 100%;
}

@media (max-width: 991px) {
  .banner {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .banner.screen {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .banner.screen.second {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .banner.screen.first {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .navbar {
    padding-right: 50px;
    padding-left: 50px;
  }
  .panel.text {
    width: 100%;
    height: 50%;
    margin-top: 25px;
    padding: 50px 25px 25px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .panel.text.left {
    height: auto;
    margin-top: 0px;
    padding-bottom: 50px;
    padding-left: 25px;
  }
  .panel.image {
    width: 100vw;
    height: 50%;
    padding-left: 0px;
  }
  .panel.image.right {
    padding-right: 0px;
    padding-left: 0px;
  }
  .para.center {
    width: 80%;
  }
  .photo-canvas {
    width: 100vw;
    height: 500px;
  }
  .photo-canvas.first {
    background-image: url('../images/nordwood-themes-Sf2TRU7ShO8-unsplash-1.jpg');
  }
  .photo-canvas.tab {
    display: none;
    background-image: url('../images/you-x-ventures-Kt-E_Qq8DW4-unsplash-1.jpg');
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .photo-canvas.real {
    display: none;
  }
  .services {
    width: 100vw;
  }
  .header {
    height: 150px;
    margin-bottom: 50px;
    padding-right: 25px;
    padding-left: 25px;
  }
  .header.testimonials {
    width: auto;
    margin-bottom: 0px;
  }
  .block-title {
    font-size: 36px;
  }
  .stack-wrap {
    padding-right: 25px;
    padding-left: 25px;
  }
  .sub-title {
    font-size: 22px;
  }
  .sub-title.no-underline {
    font-size: 20px;
  }
  .sub-title.no-underline.price {
    margin-right: 10px;
  }
  .feature-title {
    font-size: 14px;
  }
  .feature-card {
    padding-right: 10px;
    padding-left: 15px;
  }
  .feature-para {
    width: auto;
    font-size: 13px;
  }
  .pricing-wrap {
    height: auto;
    padding-right: 10px;
    padding-left: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .pricing-table {
    margin-right: 0px;
    margin-bottom: 50px;
    margin-left: 0px;
  }
  .testimonials {
    padding: 25px;
  }
  .comment-wrap {
    padding-right: 25px;
    padding-left: 25px;
  }
  .footer {
    height: auto;
    padding-right: 50px;
    padding-left: 50px;
    background-color: #f6f8ff;
    background-image: none;
    background-size: auto;
    background-repeat: repeat;
  }
  .newsletter-input {
    background-color: hsla(0, 0%, 100%, 0);
  }
  .percentage-text {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
  .divider.long {
    height: 1px;
  }
  .sub-title-wrap {
    margin-left: -25px;
  }
  .blue-arrow {
    margin-left: 2.5px;
  }
  .feature-icon {
    margin-right: 10px;
  }
}

@media (max-width: 767px) {
  .navbar {
    padding-right: 25px;
    padding-left: 25px;
  }
  .nav-link {
    display: none;
  }
  .sub-title.no-underline.price {
    font-size: 24px;
  }
  .features-wrap {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -ms-grid-columns: minmax(33.33%, 33.33%) minmax(33.33%, 33.33%) minmax(33.33%, 33.33%);
    grid-template-columns: minmax(33.33%, 33.33%) minmax(33.33%, 33.33%) minmax(33.33%, 33.33%);
    -ms-grid-rows: minmax(50%, 50%) minmax(50%, 50%);
    grid-template-rows: minmax(50%, 50%) minmax(50%, 50%);
  }
  .feature-para {
    font-size: 12px;
  }
  .pricing-table {
    width: 75%;
  }
  .price-quote {
    font-size: 28px;
  }
  .footer {
    padding-right: 25px;
    padding-left: 25px;
  }
  .newsletter-wrap {
    width: auto;
  }
  .newsletter-input {
    width: 300px;
  }
  .blue-arrow {
    display: none;
  }
  .feature-icon {
    margin-right: 5px;
  }
}

@media (max-width: 479px) {
  .panel.text {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .heading {
    width: auto;
  }
  .para {
    width: auto;
    font-size: 14px;
  }
  .header.services {
    display: none;
  }
  .sub-title.no-underline {
    line-height: 30px;
  }
  .feature-card {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .stacks {
    display: none;
  }
  .pricing-table {
    width: auto;
    margin-right: 15px;
    margin-left: 15px;
    padding-right: 10px;
  }
  .plan-title-wrap {
    height: 80px;
    padding-right: 25px;
    padding-left: 25px;
  }
  .plan-title-wrap.most-popular {
    background-size: 150px;
  }
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .newsletter-input {
    width: 250px;
  }
  .subscribe-button {
    margin-top: 10px;
  }
  .percentage-text {
    width: auto;
  }
  .sub-title-wrap {
    width: auto;
  }
  .menu-button {
    display: none;
    height: 100%;
    padding-top: 25px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .menu-icon {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
}

#w-node-214800272163-98c8ac98 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: Area-2;
}

#w-node-9302c4243c99-98c8ac98 {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: Area-3;
}

#w-node-693e7668aa70-98c8ac98 {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: Area-3;
}

#w-node-693e7668aa75-98c8ac98 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: Area-4;
}

#w-node-693e7668aa7a-98c8ac98 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: Area-5;
}

#w-node-214800272163-26b0a801 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: Area-2;
}

#w-node-9302c4243c99-26b0a801 {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: Area-3;
}

#w-node-693e7668aa70-26b0a801 {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: Area-3;
}

#w-node-693e7668aa75-26b0a801 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: Area-4;
}

#w-node-693e7668aa7a-26b0a801 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: Area-5;
}

#w-node-214800272163-0264a085 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: Area-2;
}

#w-node-9302c4243c99-0264a085 {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: Area-3;
}

#w-node-693e7668aa70-0264a085 {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: Area-3;
}

#w-node-693e7668aa75-0264a085 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: Area-4;
}

#w-node-693e7668aa7a-0264a085 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: Area-5;
}

@font-face {
  font-family: 'Inter UI';
  src: url('../fonts/Inter-ExtraBoldItalic.woff2') format('woff2'), url('../fonts/Inter-ExtraBoldItalic.woff') format('woff');
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'Inter UI';
  src: url('../fonts/Inter-BoldItalic.woff2') format('woff2'), url('../fonts/Inter-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Inter UI';
  src: url('../fonts/Inter-MediumItalic.woff2') format('woff2'), url('../fonts/Inter-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Inter UI';
  src: url('../fonts/Inter-SemiBold.woff2') format('woff2'), url('../fonts/Inter-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Inter UI';
  src: url('../fonts/Inter-Bold.woff2') format('woff2'), url('../fonts/Inter-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Inter UI';
  src: url('../fonts/Inter-SemiBoldItalic.woff2') format('woff2'), url('../fonts/Inter-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Inter UI';
  src: url('../fonts/Inter-ExtraBold.woff2') format('woff2'), url('../fonts/Inter-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Inter UI';
  src: url('../fonts/Inter-Medium.woff2') format('woff2'), url('../fonts/Inter-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Inter UI';
  src: url('../fonts/Inter-Black.woff2') format('woff2'), url('../fonts/Inter-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Inter UI';
  src: url('../fonts/Inter-Italic.woff2') format('woff2'), url('../fonts/Inter-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Inter UI';
  src: url('../fonts/Inter-Regular.woff2') format('woff2'), url('../fonts/Inter-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Inter UI (Roman)';
  src: url('../fonts/Inter-roman.var.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Inter UI';
  src: url('../fonts/Inter-BlackItalic.woff2') format('woff2'), url('../fonts/Inter-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'Inter UI (Roman)';
  src: url('../fonts/Inter-italic.var.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'DM Serif Display';
  src: url('../fonts/DMSerifDisplay-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'DM Serif Display';
  src: url('../fonts/DMSerifDisplay-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Hack';
  src: url('../fonts/Hack-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Hack';
  src: url('../fonts/Hack-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Hack';
  src: url('../fonts/Hack-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Hack';
  src: url('../fonts/Hack-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Graphik';
  src: url('../fonts/Graphik-100-Thin-Italic.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'Graphik';
  src: url('../fonts/Graphik-100-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Graphik';
  src: url('../fonts/Graphik-200-Extralight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Graphik';
  src: url('../fonts/Graphik-300-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Graphik';
  src: url('../fonts/Graphik-300-Light-Italic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Graphik';
  src: url('../fonts/Graphik-200-Extralight-Italic.otf') format('opentype');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'Graphik';
  src: url('../fonts/Graphik-400-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Graphik';
  src: url('../fonts/Graphik-400-RegularItalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Graphik';
  src: url('../fonts/Graphik-700-Bold-Italic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Graphik';
  src: url('../fonts/Graphik-500-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Graphik';
  src: url('../fonts/Graphik-700-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Graphik';
  src: url('../fonts/Graphik-500-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Graphik';
  src: url('../fonts/Graphik-900-Super-Italic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'Graphik';
  src: url('../fonts/Graphik-800-Black-Italic.otf') format('opentype');
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'Graphik';
  src: url('../fonts/Graphik-800-Black.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Graphik';
  src: url('../fonts/Graphik-600-Semibold-Italic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Graphik';
  src: url('../fonts/Graphik-600-Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Graphik';
  src: url('../fonts/Graphik-900-Super.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Mafra Display';
  src: url('../fonts/MafraDisplay-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Mafra Display';
  src: url('../fonts/MafraDisplay-Book.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Mafra Display';
  src: url('../fonts/MafraDisplay-BookItalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Mafra Display';
  src: url('../fonts/MafraDisplay-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Mafra Display';
  src: url('../fonts/MafraDisplay-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Mafra Display';
  src: url('../fonts/MafraDisplay-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Mafra Display';
  src: url('../fonts/MafraDisplay-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Mafra Display';
  src: url('../fonts/MafraDisplay-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Mafra Display';
  src: url('../fonts/MafraDisplay-BlackItalic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'Mafra Display';
  src: url('../fonts/MafraDisplay-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}